* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.bottom_content {
    position: relative;
    height: 42px;
    top: 40px;
    margin: 0 auto;

}

.nav > li > a :hover {
    background-color: transparent !important;
}

footer {
    margin: 0 auto;
}

.text-slider {
    margin-top: -800px;
}

.slider {
    top: 103px;
    margin: 0 auto;
    position: relative;
    background-image: url(../img/elements/bg_vector1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 1000.09px;
}

.swipe-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: white;
    margin-top: 15px;
    margin-left: -10px
}

.f_title_h1 {
    font-size: 72px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 88px;
    color: #333333;
}

.f_title_h1 > span {
    color: #FF84AC;
}

.f_title_h2 {
    font-size: 64px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 78px;
    color: #333333;
}

.f_title_h2 > span {
    color: #FF84AC;
}

.parents-avatar {
    width: 209px;
    margin-left: -26px;
}

.f_title_h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #333333;
    /* identical to box height */
}

.white_panel {
    position: relative;
    left: 0%;
    width: auto;
    height: auto;
    min-height: 184px;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    padding: 40px;
    /* Classic */
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.white_panel_fixed {
    position: fixed;
    left: 0%;
    width: auto;
    height: 100px;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    padding: 40px;
    /* Classic */
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.card-2 {
    position: relative;
    left: 0%;
    width: auto;
    height: auto;
    min-height: 184px;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin-bottom: 20px;
    background: #FFFFFF;
    /* padding: 40px; */
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.card2-img {
    border-radius: 30px;
    width: 176px;
    margin-right: 20px;
    height: 195px;
    object-fit: cover;
}

.panel-container-10 {
    margin-top: 60px;
}

.table-section {
    display: none;
}

.white_panel > label {
    font-family: Circe;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.btn-pink {
    background: #FF84AC;
    border-radius: 44px;
    padding: 15px 54px;
    color: white;
    margin-top: 15px;
    border: 6px solid white;
}

.btn-pink-mini {
    background: #FF84AC;
    border-radius: 44px;
    padding: 11px 35px;
    color: white;
    width: 100%;
    margin-top: 15px;
    border: 6px solid white;
}

.select-target.select-theme-chosen {
    width: 100% !important;
}

.here-to-help__list {
    padding-left: 0;
    margin-bottom: 40px;
}

.here-to-help__header {
    font-weight: 500;
    font-size: 16px;
}

.here-to-help__list li:before {
    content: "";
    position: absolute;
    background: url(/img/elements/Ok.svg) center center no-repeat transparent;
    left: 45px;
    width: 18px;
    height: 17px;
    background-size: contain;
    /* width: 20px; */
}

.contact_input {
    border-radius: 4px !important;
    box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.05) !important;
    padding: 23px !important;
    font-size: 20px !important;
}

.label-form {
    margin-bottom: 20px !important;
}

.press-div {
    margin-top: 57px;
    /* margin-right: 1px; */
    margin-left: -94px;
}

.desctop_logo {
    display: block;
}

.table_logo {
    display: none;
}

.section-2 {
    margin-top: 150px;
}

.c_title_h3 {
    font-family: Montserrat;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 36px;
    line-height: 44px;
    color: #222222;
}

.c_title_h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: gray;
    line-height: 37px;
    padding: 0px 30%;
}

.menu-bottom {
    margin-top: 6px !important;
    margin-right: 30px;
}

button {
    outline: none !important;
}

input {
    outline: none !important;
}

#section-3 {
    margin-top: 252px;
    margin-bottom: 252px;
}

.btn-pink {
    outline: none !important;
}

#section-5 {
    margin-top: 309px;
}

.section2-content {
    margin-top: -1526px;
}

section > h3, h2, p {
    font-family: Circe;
}

.text-grey {
    font-family: Circe;
    color: #969AB0;
    font-size: 18px;
    line-height: 27px;
}

.text-grey-16 {
    font-family: Circe;
    color: #969AB0;
    font-size: 16px;
    line-height: 24px;
}

.text-black {
    font-size: 18px;
    line-height: 27px;
    font-family: Circe;
    color: #333333;
    font-weight: 600;
}

.text-black-h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    padding: 0px 10px;
}

.text-black-24 {
    font-size: 24px;
    line-height: 35px;
    font-family: Circe;
    color: #333333;
    font-weight: 600;
}

.btn-pink-title {
    font-family: Circe;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin: 0px !important;
}

.pink-title-mini {
    font-family: Circe;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin: 0px !important;
    text-transform: uppercase;
}

.img-process {
    width: 191px;
    height: 165px;
}

.card2-content {
    padding: 25px 5px;
}

.btn-top {
    margin-top: 40px;
}

.ellipse {
    margin: 0 auto;
    position: relative;
    background-image: url(../img/elements/Ellipse.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 749px;
}

.our-team-section {
    top: 20px;
    margin: 0 auto;
    position: relative;
    background-image: url(../img/elements/left_vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 1522px;
}

.person-name {
    font-family: Circe;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
}

.title-values-mobil {
    display: none;
}

.text-center-table {
    text-align: left;
}

.title-values {
    margin-left: -103px;
    margin-top: 84px;
    width: 400px;
}

.text-pink {
    font-family: Circe;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FF84AC;
}

.avatar {
    width: 175px;
    height: 175px;
    margin-top: 5px;
    font-weight: 700;
    margin-right: 57px;
    margin-left: -20px
}

.figure-box-1 {
    background-image: url(../img/elements/box1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 45px;
    min-height: 330px;
    width: 550px;
    margin-top: -80px;
    margin-left: 61px;
}

.figure-box-2 {
    background-image: url(../img/elements/box2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 20px;
    min-height: 349px;
    width: 550px;
}

.figure-box-3 {
    background-image: url(../img/elements/box3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 20px;
    min-height: 349px;
    width: 550px;
}

.figure-box-img1 {
    margin-left: -34px;
    margin-top: 26px;
}

.content-figure-1 {
    /* padding: 40px */
    margin-top: 38px;
    margin-left: 6px;
}

.title-lg {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.progress-circle-title {
    font-family: Circe;
    font-size: 36px;
    line-height: 53px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.review-section {

}

.margin-section {
    margin-top: 265px
}

.bottom {
    background-image: url(../img/elements/bottom-vector.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    z-index: 9999;
    min-height: 364px;
    margin-top: -221px;
    margin-bottom: -141px
}

.btn-left {
    padding-bottom: 5px;
    border: 1px solid #AFC3D6;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
    text-align: center;
    width: 75px;
    transition: background 600ms ease, color 600ms ease;
}

.btn-right {
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 5px;
    border: 1px solid #AFC3D6;
    display: inline-block;
    padding-top: 10px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
}

input[type="radio"].toggle {
    display: none;

}

label {
    cursor: pointer;
    min-width: 60px;
    font-family: Circe;
    font-size: 18px;
    line-height: 27px;
}

label:hover {
    background: none;
    color: #1a1a1a;
}

label:after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
    z-index: -1;
}

input[type="radio"].toggle-left + label {
    border-right: 0;

}

input[type="radio"].toggle-left + label:after {
    left: 100%
}

input[type="radio"].toggle.toggle-right + label {
    margin-left: -5px;

}

input[type="radio"].toggle-right + label:after {
    left: -100%;
}

input[type="radio"].toggle:checked + label {
    cursor: default;
    color: #AFC3D6;
    transition: color 200ms;

}

input[type="radio"].toggle:after {
    left: 0;
}

.comment-text {
    font-family: Circe;
    font-size: 18px;
    line-height: 27px;
    width: 174px;
}

.right-navigation {
    margin-top: 107px !important;
    position: fixed;
    /* float: right; */
    right: 15px;
    top: 150px;
    z-index: 85555;
}

.right-navigation > a > li {
    background-color: #F1F1F1;;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border-radius: 20px;
}

.margin-top {
    margin-top: 0px
}

.padding-92 {
    padding: 10px 40px;
}

.table-card {
    padding: 20px 40px !important;
}

.right-navigation > a > li:hover {
    background-color: #FF84AC;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 4px #F1F1F1;
}

.scrool-to.active > li {
    background-color: #FF84AC !important;

}

.press-value-mobil {
    display: none;
}

br {
    margin-bottom: 53px;
}

/* Moble */
@media only screen and (max-width: 600px) {
    .f_title_h4 {
        font-size: 16px;
        text-align: center;
        float: none !important;
        margin-top: -20px;
        margin-left: 0 !important;
    }

    .text-black-h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #4F4F4F;
        padding: 0px 10px;
    }

    .age-title {
        margin-top: 37px;
        font-family: Circe;
        font-size: 48px;
        line-height: 72px;
        font-weight: bold;
        text-align: center;
        background: -webkit-linear-gradient(108.39deg, #FF95E8 -0.03%, #FF7474 120.07%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .padding-92 {
        padding: 2px;
    }

    .our-team-section {
        min-height: 980px;
        margin-top: 183px;
    }

    .white-box-cart {
        position: relative;
        left: 0%;
        width: 343px;
        height: 144px;
        min-height: auto;
        padding: 12px;
        background: #FFFFFF;
        /* Classic */
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }

    .f_title_h1 {
        font-size: 32px;
        text-align: center;
        font-weight: 600;
        line-height: 44px;
    }

    .content-figure-1 {
        padding: 40px;
        margin-top: -5px;
        margin-left: 122px;
    }

    .f_title_h2 {
        font-size: 36px;
        text-align: center;
    }

    .section2-content {
        margin-top: -1340px;
    }

    .menu {
        display: none;
    }

    .btn-pink-title {
        font-size: 14px;
    }

    .avatar {
        width: 120px;
        height: 110px;
        margin-top: 37px;
        margin-left: 0px;
    }

    .header_logo {
        width: 100px;
    }

    .figure-box-1 {
        min-height: 330px;
        width: 489px;
        margin-top: 0px;
        margin-left: -31px;
    }

    .figure-box-2 {
        padding: 20px;
        min-height: 349px;
        width: 489px;
        margin-left: -37px;
        margin-top: -50px;
    }

    .figure-box-3 {
        background-image: url(../img/elements/box3.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding: 20px;
        min-height: 349px;
        width: 489px;
        margin-left: -40px;
        margin-top: -80px;
    }

}

.text-black-h3 {
    font-family: Circe;
    font-size: 36px;
    line-height: 20px;
    color: #4F4F4F;
    padding: 0px 10px;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .right-navigation {
        display: none;
    }

    .navbar-nav > li > a {
        border-bottom: 1px solid rgba(192, 192, 192, 0.26);
        padding: 12px;
    }

    .text-slider {
        margin-top: -900px;
    }

    .scrool-figure-1 {
        display: none;
    }

    .swipe-title {
        display: none;
    }

    .section-2 {
        margin-top: 150px;
    }

    .f_title_h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        /* line-height: 78px; */
        color: #333333;
    }

    .text-black-h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #4F4F4F;
        padding: 0px 10px;
    }

    #section-3 {
        margin-top: 52px;
    }

    #section-5 {
        margin-top: 30px;
    }

    .brk-morph-1 {
        animation: morph-1 19s infinite linear;
        top: 42px;
    }
}

ul, li {
    list-style: none;
}

@media screen and (min-width: 1200px ) and (max-width: 5400px ) {
    .age-title {
        margin-top: 37px;
        font-family: Circe;
        font-size: 64px;
        line-height: 94px;
        font-weight: bold;
        text-align: center;
        background: -webkit-linear-gradient(108.39deg, #FF95E8 -0.03%, #FF7474 120.07%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /*!* Gradient 1 *!*/
        /*background-color: linear-gradient(108.39deg, #FF95E8 -0.03%, #FF7474 120.07%);*/
    }

    .text-black-h5 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
    }

    .menu_bottom {
        background-color: white;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        height: 100px;
        padding: 20px;

    }

    .card {
        position: relative;
        display: flex;
        width: 455px;
        height: 215px;
    }

    .white-box-cart {
        position: relative;
        left: 0%;
        width: 455px;
        height: 215px;
        min-height: auto;
        padding: 16px;
        background: #FFFFFF;
        /* Classic */
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }

    .age-select {
        margin-right: 58px
    }

    .text-center-table {
        text-align: left;
    }

    .f_title_h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #222222;
        padding-bottom: 15px;
    }

    #progress1 {
        margin: 0px 26px;
        width: 125px;
        height: 125px;
        position: relative;
    }

    #progress2 {
        margin: 0px 26px;
        width: 125px;
        height: 125px;
        position: relative;
    }

    .p_title {
        font-family: Circe;
        font-size: 18px;
        padding: 10px;
        line-height: 27px;
        text-align: center;
        color: #000000;

    }

    .p_title-24 {
        font-family: Circe;
        font-size: 24px;
        line-height: 35px;
        margin-top: 47px;
        padding: 0px 27px;
        color: #000000;
    }
}

@media screen and (min-width: 960px ) and (max-width: 992px ) {
    #progress1 {
        margin: 0px 26px;
        width: 125px;
        height: 125px;
        position: relative;
    }

    .f_title_h2 {
        font-size: 56px;
    }

    .action-prev {
        margin-right: 80% !important;
    }

    .text-black-h5 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }

    .menu_bottom {
        background-color: white;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        height: 100px;
        padding: 20px;

    }

    .our-team-section {
        background-size: contain;
        background-position: right;
        min-height: 980px;
    }

    .section2-content {
        margin-top: -1180px;
    }

    .card {
        position: relative;
        display: flex;
        width: 390px;
        height: 200px;
    }

    .white-box-cart {
        position: relative;
        left: 0%;
        width: 390px;
        height: 200px;
        min-height: auto;
        padding: 16px;
        background: #FFFFFF;
        /* Classic */
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }

    .table-card {
        margin: 25px 21% !important;
    }

    .text-center-table {
        text-align: left;
    }

    .age-select {
        margin-right: 40px
    }

    .btn-pink {
        background: #FF84AC;
        border-radius: 44px;
        padding: 15px 36px;
        color: white;
        margin-top: 15px;
        border: 6px solid white;
    }

    .f_title_h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #222222;
        padding-bottom: 15px;
    }

    #progress2 {
        margin: 0px 26px;
        width: 125px;
        height: 125px;
        position: relative;
    }

    .age-title {
        margin-top: 37px;
        font-family: Circe;
        font-size: 45px;
        line-height: 94px;
        font-weight: bold;
        text-align: center;
        background: -webkit-linear-gradient(108.39deg, #FF95E8 -0.03%, #FF7474 120.07%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .p_title {
        font-family: Circe;
        font-size: 18px;
        padding: 10px;
        line-height: 27px;
        text-align: center;
        color: #000000;

    }

    .text-black-h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 35px;
        color: #4F4F4F;
        padding: 0px 10px;
    }

    .p_title-24 {
        font-family: Circe;
        font-size: 22px;
        line-height: 35px;
        margin-top: 47px;
        color: #000000;
    }

    .btn-pink-mini {
        background: #FF84AC;
        border-radius: 44px;
        padding: 10px 9px;
        color: white;
        width: 100%;
        margin-top: 15px;
        border: 6px solid white;
    }

    .pink-title-mini {
        font-family: Circe;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        margin: 0px !important;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 992px ) and (max-width: 1200px ) {
    #progress1 {
        margin: 0px 26px;
        width: 125px;
        height: 125px;
        position: relative;
    }

    .question-content {
        padding: 52px 200px
    }

    .action-prev {
        margin-right: 80% !important;
    }

    .card2-img {
        border-radius: 30px;
        width: 176px;
        margin-right: 21px;
        height: 231px;
        object-fit: cover;
    }

    .card2-content {
        padding: 18px 7px !important;
        padding-left: 38px !important;
    }

    .press-div {
        margin-top: 0px;
        /* margin-right: 1px; */
        margin-left: -0px;
    }

    .f_title_h2 {
        font-size: 56px;
    }

    .panel-container-10 {
        width: 100% !important;
    }

    .text-black-h5 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }

    .menu_bottom {
        background-color: white;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        height: 100px;
        padding: 20px;

    }

    .our-team-section {
        background-size: contain;
        background-position: right;
        min-height: 980px;
    }

    .section2-content {
        margin-top: -1180px;
    }

    .card {
        position: relative;
        display: flex;
        width: 390px;
        height: 200px;
    }

    .white-box-cart {
        position: relative;
        left: 0%;
        width: 390px;
        height: 200px;
        min-height: auto;
        padding: 16px;
        background: #FFFFFF;
        /* Classic */
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }

    .avatar {
        width: 162px;
        height: 175px;
        margin-top: 5px;
        font-weight: 700;
        margin-right: 57px;
        margin-left: 0px;
    }

    .card {
        position: relative;
        display: flex;
        width: 350px;
        height: 180px;
    }

    .white-box-cart {
        position: relative;
        left: 0%;
        width: 385px;
        height: 190px;
        min-height: auto;
        padding: 16px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }

    .f_title_h2 {
        font-size: 48px;
    }

    .table-card {
        margin: 12px 0% !important;
    }

    .title-values {
        margin-left: -75px;
        margin-top: 84px;
        width: 290px;
    }

    .text-black-h4 {
        font-size: 18px !important;
    }

    .text-center-table {
        text-align: left;
    }

    .age-select {
        margin-right: 40px
    }

    .btn-pink {
        background: #FF84AC;
        border-radius: 44px;
        padding: 15px 36px;
        color: white;
        margin-top: 15px;
        border: 6px solid white;
    }

    .f_title_h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #222222;
        padding-bottom: 25px;
    }

    #progress2 {
        margin: 0px 26px;
        width: 125px;
        height: 125px;
        position: relative;
    }

    .age-title {
        margin-top: 37px;
        font-family: Circe;
        font-size: 45px;
        line-height: 94px;
        font-weight: bold;
        text-align: center;
        background: -webkit-linear-gradient(108.39deg, #FF95E8 -0.03%, #FF7474 120.07%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .p_title {
        font-family: Circe;
        font-size: 18px;
        padding: 10px;
        line-height: 27px;
        text-align: center;
        color: #000000;

    }

    .text-black-h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 35px;
        color: #4F4F4F;
        padding: 0px 10px;
    }

    .p_title-24 {
        font-family: Circe;
        font-size: 22px;
        line-height: 35px;
        margin-top: 47px;
        color: #000000;
    }

    .btn-pink-mini {
        background: #FF84AC;
        border-radius: 44px;
        padding: 10px 9px;
        color: white;
        width: 100%;
        margin-top: 15px;
        border: 6px solid white;
    }

    .pink-title-mini {
        font-family: Circe;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        margin: 0px !important;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 460px ) {
    .mobile-none {
        display: none;
    }
    .text-grey{
        font-size: 14px;
    }
    .notify-me {
        width: 87% !important;
    }

    .f_title_h2 {
        font-size: 32px;
        text-align: center;
    }

    .pink-title-mini.quit-modal_ {
        font-size: 13px !important;
    }

    .notify-me input.btn-pink-mini {
        color: rgba(0, 0, 0, 0.6);
        width: 120% !important;
        background-color: #fff;
    }

    .btn-pink-mini {
        font-size: 13px !important;
    }

    .quit-modal {
        padding: 10px;
        position: absolute;
        top: 30px;
        left: 70% !important;
        cursor: pointer;
        z-index: 999;
        color: #AFC3D6;;
        border-radius: 15px;
        font-size: 16px !important;
        line-height: 27px !important;
        text-decoration: none !important;
    }

    .f_title_h3.title-modal {
        margin-top: 50px !important;
    }

    .snap {
        position: absolute;
        z-index: 999;
        top: 85%;
        cursor: pointer;
        color: white;
        left: 44% !important;
        width: 47px;
        height: 47px;
        font-size: 14px !important;
        text-decoration: none !important;
    }

    .white_panel {
        margin-top: 50px !important;
    }

    .pull-right {
        float: left !important;
    }

    .title-modal {
        font-size: 22px !important;
        text-align: left !important;
    }

    .f_title_h3 {
        padding-bottom: 10px !important;
    }

    .panel-container-10 {
        margin-top: 20px;
    }

    .blocker {
        padding: 0 !important;
        height: 100% !important;
    }

    .brk-morph-4 {
        animation: morph-4 19s infinite linear .8s;
        top: 0px !important;
        margin-left: -155px;
        width: 753px !important;
    }

    .voice_modal_bg2 {
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }

    .action-prev {
        margin-right: 65% !important;
        margin-top: 30% !important;
    }

    .voice_modal_bg1 {
        height: 100% !important;
        border-radius: 0% 0% !important;
        /* -webkit-border-radius: 38px !important; */
        -moz-border-radius: 0px !important;
        -o-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
    }

    .question-content {
        padding: 10px 10px !important;
        height: 46% !important;

    }

    .voice_title {
        display: none;
    }

    .modal {
        display: inline-block;
        width: 100%;
        height: 100% !important;
        padding: 0%;
        min-width: 100% !important;
        border-radius: 0% 0% !important;
        max-width: 100% !important;
        -moz-border-radius: 0px !important;
        -o-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
    }

    .card2-img {
        border-radius: 30px;
        width: 100%;
        margin-right: 20px;
        height: 195px;
        margin-bottom: 20px;
        object-fit: cover;
    }

    .margin-top {
        margin-top: 115px
    }

    .margin-bottom {
        margin-top: -115px
    }

    .card2-content {
        padding: 20px 34px !important;
    }

    .menu_bottom {
        background-color: transparent;
        box-shadow: transparent;
        padding: 20px;
        margin-top: -99px !important;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    .menu-bottom {
        margin-top: 15px !important;
        margin-right: 30px;
        color: white;
    }

    .menu-bottom > ul > li > a {
        color: white !important;
    }

    .content-figure-1 {
        padding: 40px;
        margin-top: -5px;
        margin-left: 100px;
    }

    .desctop_logo {
        display: none;
    }

    .table_logo {
        display: block;
    }

    .press-value-mobil {
        display: block;
    }

    .swipe-title {
        display: none;
    }

    .pull-right {
        float: none !important;
    }

    .press-value {
        display: none;
    }

    .text-center-table {
        text-align: center;
    }

    .text-center.text-black-h4 > span {
        display: none;
    }

    .title-values-mobil {
        display: block;
    }

    .title-values {
        display: none;
    }

    .f_title_h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 44px;
        color: #222222;
        text-align: center;
        padding-bottom: 25px;
        display: inline-flex;
    }

    .age-title {
        margin-top: 37px;
        font-family: Circe;
        font-size: 32px;
        line-height: 94px;
        font-weight: bold;
        text-align: center;
        background: -webkit-linear-gradient(108.39deg, #FF95E8 -0.03%, #FF7474 120.07%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .p_title {
        font-family: Circe;
        font-size: 16px;
        /* padding: 10px; */
        line-height: 27px;
        text-align: center;
        color: #000000;
    }

    .SteppedProgress.Vertical li {
        padding-top: 0px !important;
    }

    .p_title-24 {
        font-family: Circe;
        font-size: 14px;
        line-height: 35px;
        margin-top: 0px;
        color: #000000;
    }

    .card {
        position: relative;
        display: flex;
        width: 343px;
        height: 144px;
        margin-bottom: 25px;
    }

    .pink-title-mini {
        font-family: Circe;
        font-size: 14px;
        line-height: 27px;
        text-align: center;
        margin: 0px !important;
        text-transform: uppercase;
    }

    .age-title {
        font-size: 52px;
    }

    .btn-pink-mini {
        background: #FF84AC;
        border-radius: 44px;
        padding: 11px 35px;
        color: white;
        margin-top: 15px;
        width: 100%;
        border: 6px solid white;
    }

    .white_panel {
        margin-bottom: 20px;
    }

    #progress1 {
        margin: 0px 0px;
        width: 80px;
        height: 80px;
        position: relative;
    }

    #progress2 {
        margin: 0px 0px;
        width: 80px;
        height: 80px;
        position: relative;
    }

}

@media screen and (min-width: 240px ) and (max-width: 300px ) {
    .btn-pink {
        background: #FF84AC;
        border-radius: 44px;
        padding: 12px 40px;
        color: white;
        margin-top: 12px;
        border: 6px solid white;
    }
    .text-grey{
        font-size: 14px;
    }
    .notify-me {
        width: 87% !important;
    }

    .pink-title-mini.quit-modal_ {
        font-size: 13px !important;
    }

    .snap {
        position: absolute;
        z-index: 999;
        top: 85%;
        cursor: pointer;
        color: white;
        left: 44% !important;
        width: 47px;
        height: 47px;
        font-size: 14px !important;
        text-decoration: none !important;
    }

    .quit-modal {
        padding: 10px;
        position: absolute;
        top: 30px;
        left: 70% !important;
    }

    .f_title_h2 {
        font-size: 28px;
        text-align: center;
    }

    .margin-bottom {
        margin-top: -136px
    }

    .card2-content {
        padding: 20px 34px;
    }

    .card2-img {
        border-radius: 30px;
        width: 100%;
        margin-right: 20px;
        height: 195px;
        margin-bottom: 20px;
        object-fit: cover;
    }

    .figure-box-img1 {
        width: 141px;
        margin-left: -46px;
        margin-top: 39px;
    }

    .figure-box-img2 {
        width: 141px;
        margin-left: -46px;
        margin-top: 39px;
    }

    .content-figure-1 {
        padding: 40px;
        margin-top: -5px;
        margin-left: 60px;
    }

    .position-av3 {
        padding: 27px !important;
        margin-top: 57px !important;
    }

    .text-grey-16 {
        font-family: Circe;
        color: #969AB0;
        font-size: 13px;
        line-height: 24px;
    }

    .text-black-24 {
        font-size: 19px;
        line-height: 35px;
        font-family: Circe;
        color: #333333;
        font-weight: 600;
    }

    .figure-box-1 {
        min-height: 268px;
        width: 405px;
        margin-top: 0px;
        margin-left: -31px;
    }

    .white_panel {
        margin: 10px;
    }

    .figure-box-2 {
        padding: 20px;
        min-height: 349px;
        width: 405px;
        margin-left: -37px;
        margin-top: -50px;
    }

    .comment-text {
        font-family: Circe;
        font-size: 16px;
        line-height: 27px;
        width: 174px;
    }

    .figure-box-3 {
        min-height: 268px;
        width: 405px;
        margin-left: -40px;
        margin-top: -40px;
    }

    .panel-container-10 {
        margin-top: 20px;
    }

    .brk-morph-4 {
        animation: morph-4 19s infinite linear .8s;
        top: 0px !important;
        margin-left: -155px;
        width: 753px !important;
    }

    .text-grey {
        font-family: Circe;
        color: #969AB0;
        font-size: 16px;
        line-height: 27px;
    }

    .text-pink {
        font-family: Circe;
        font-size: 14px;
        line-height: 24px;
        color: #FF84AC;
    }

    .card {
        position: relative;
        display: flex;
        width: 275px;
        height: 130px;
        margin-bottom: 25px;
    }

    .white-box-cart {
        position: relative;
        left: 0%;
        width: 275px;
        height: 130px;
        min-height: auto;
        padding: 12px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }
}

@media screen and (min-width: 460px ) and (max-width: 760px ) {
    .mobile-none {
        display: none;
    }

    .pink-title-mini.quit-modal_ {
        font-size: 13px !important;
    }

    .notify-me {
        width: 87%;
    }

    .btn-pink-mini {
        font-size: 13px;
    }

    .notify-me input.btn-pink-mini {
        width: 100% !important;
    }

    .notify-me {
        display: inline-flex;
    }

    .notify-me input.btn-pink-mini {
        width: none !important;
    }

    .f_title_h3.title-modal {
        padding-bottom: 10px !important;
    }

    .card2-content {
        padding: 20px 34px !important;
    }

    .card2-img {
        border-radius: 30px;
        width: 100%;
        margin-right: 20px;
        height: 195px;
        margin-bottom: 20px;
        object-fit: cover;
    }

    .margin-top {
        margin-top: 115px
    }

    .margin-bottom {
        margin-top: -115px
    }

    .text-black-h5 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
    }

    .menu_bottom {
        background-color: transparent;
        box-shadow: transparent;
        padding: 20px;
        margin-top: -99px !important;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    .white-box-cart {
        position: relative;
        left: 0%;
        width: 410px;
        height: 195px;
        min-height: auto;
        padding: 16px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }

    .menu-bottom {
        margin-top: 15px !important;
        margin-right: 30px;
        color: white;
    }

    .menu-bottom > ul > li > a {
        color: white !important;
    }

    .margin-section {
        margin-top: 262px;

    }

    .content-figure-1 {
        padding: 40px;
        margin-top: -5px;
        margin-left: 100px;
    }

    .desctop_logo {
        display: none;
    }

    .table_logo {
        display: block;
    }

    .press-value-mobil {
        display: block;
    }

    .swipe-title {
        display: none;
    }

    .pull-right {
        float: none !important;
    }

    .press-value {
        display: none;
    }

    .text-center-table {
        text-align: center;
    }

    .text-center.text-black-h4 > span {
        display: none;
    }

    .title-values-mobil {
        display: block;
    }

    .title-values {
        display: none;
    }

    .f_title_h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 44px;
        color: #222222;
        text-align: center;
        padding-bottom: 53px;
    }

    .age-title {
        margin-top: 37px;
        font-family: Circe;
        font-size: 52px;
        line-height: 94px;
        font-weight: bold;
        text-align: center;
        background: -webkit-linear-gradient(108.39deg, #FF95E8 -0.03%, #FF7474 120.07%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .avatar {
        width: 168px;
        height: 175px;
        margin-top: 5px;
        font-weight: 700;
        margin-right: 33px;
        margin-left: -20px;
    }

    #progress1 {
        margin: 0px 0px;
        width: 111px;
        height: 111px;
        position: relative;
    }

    .p_title {
        font-family: Circe;
        font-size: 16px;
        /* padding: 10px; */
        line-height: 27px;
        text-align: center;
        color: #000000;
    }

    .p_title-24 {
        font-family: Circe;
        font-size: 22px;
        text-align: center;
        line-height: 35px;
        margin-top: 47px;
        color: #000000;
    }

    .card {
        position: relative;
        display: flex;
        width: 410px;
        height: 195px;
        margin-bottom: 55px;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
    }

    .right-navigation {
        display: none;
    }

    .pink-title-mini {
        font-family: Circe;
        font-size: 14px;
        line-height: 27px;
        text-align: center;
        margin: 0px !important;
        text-transform: uppercase;
    }

    .btn-pink-mini {
        background: #FF84AC;
        border-radius: 44px;
        padding: 11px 35px;
        color: white;
        margin-top: 15px;
        width: 100%;
        border: 6px solid white;
    }

    .white_panel {
        margin-bottom: 20px;
    }

    #progress1 {
        margin: 0px 0px;
        width: 111px;
        height: 111px;
        position: relative;
    }

    .figure-box-2 {
        background-image: url(../img/elements/box2.svg);
        background-repeat: no-repeat;
        background-position: inherit;
        padding: 20px;
        min-height: 349px;
        max-width: 483px;
        margin-left: 10%;
    }

    .figure-box-3 {
        background-position: inherit;
        min-height: 349px;
        max-width: 483px;
        padding: 22px 0px;
        margin-left: 10%;
    }

    #progress2 {
        margin: 0px 0px;
        width: 111px;
        height: 111px;
        position: relative;
    }

    .figure-box-1 {
        min-height: 330px;
        width: 489px;
        margin-top: 0px;
        margin-left: 10%;
    }

}

@media screen and (min-width: 720px) and (max-width: 960px) {
    .title-values-mobil {
        display: block;
    }

    .notify-me {
        display: inline-flex;
    }

    .notify-me input.btn-pink-mini {
        width: none !important;
    }

    .f_title_h3.title-modal {
        margin-top: 76px !important;
    }

    .question-content {
        padding: 0px 10px !important;
    }

    .action-prev {
        margin-right: 80% !important;
    }

    .card2-img {
        border-radius: 30px;
        width: 100%;
        margin-right: 20px;
        height: 195px;
        margin-bottom: 20px;
        object-fit: cover;
    }

    .card2-content {
        padding: 20px 34px !important;
    }

    .title-values {
        display: none;
    }

    .text-black-h5 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
    }

    .right-navigation {
        display: none;
    }

    .figure-box-img1 {
        margin-left: -64px;
        margin-top: 26px;
    }

    .figure-box-img2 {
        margin-top: 63px;
        margin-left: -20px;
    }

    .figure-box-img3 {
        margin-top: 80px;
        margin-left: -24px;
    }

    .menu_bottom {
        background-color: transparent;
        box-shadow: transparent;
        padding: 20px;
        margin-top: -99px !important;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    .menu-bottom {
        margin-top: 15px !important;
        margin-right: 30px;
        color: white;
    }

    .menu-bottom > ul > li > a {
        color: white !important;
    }

    .desctop_logo {
        display: none;
    }

    .table_logo {
        display: block;
    }

    .figure-box-1 {
        background-image: url(../img/elements/box1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding: 45px;
        min-height: 330px;
        width: 450px;
    }

    .figure-box-3 {
        background-image: url(../img/elements/box3.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding: 20px;
        min-height: 349px;
        width: 450px;
        margin-top: -20px;
    }

    .desctop-section {
        display: none;
    }

    .table-section {
        display: block;
    }

    .title-center {
        text-align: center;
    }

    .press-value-mobil {
        display: block;
    }

    .press-value {
        display: none;
    }

    .second-card {
        margin-top: -100px;
        margin-left: -3%;
    }

    .our-team-section {
        background-size: contain;
        background-position: right;
        min-height: 980px;
    }

    .section2-content {
        margin-top: -1180px;
    }

    .thrid-card {
        margin-top: -100px;
        margin-left: -3%;
    }

    .card {
        position: relative;
        display: flex;
        width: 360px;
        height: 150px;
    }

    .white-box-cart {
        position: relative;
        left: 0%;
        width: 360px;
        height: 160px;
        min-height: auto;
        padding: 16px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }

    .avatar {
        width: 140px;
        height: 175px;
        margin-top: 5px;
        font-weight: 700;
        margin-right: 57px;
        margin-left: -7px;
    }

    .figure-box-1 {
        min-height: 330px;
        margin-top: 0px;
        margin-left: -10px;
    }

    .title-lg {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
    }

    .table-card {
        margin: 25px 21% !important;
    }

    .text-center-table {
        text-align: center;
    }

    .ellipse > .white_panel {
        max-width: 400px;
    }

    .scrool-figure-1 {
        display: none;
    }

    .swipe-title {
        display: none;
    }

    .f_title_h2 {
        font-size: 58px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: 78px;
        color: #333333;
    }

    .f_title_h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 44px;
        color: #333333;
        /* identical to box height */
    }

    .f_title_h1 {
        font-size: 64px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        line-height: 88px;
        color: #333333;
    }
}

@media screen and (min-width: 760px) {
    .menu {
        margin-top: -10px;
    }

    .text-black-h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #4F4F4F;
        padding: 0px 10px;
    }

    .card-break {
        margin-top: 63px;
    }

    .btn-pink-mini {
        background: #FF84AC;
        border-radius: 44px;
        padding: 10px 9px;
        color: white;
        width: 100%;
        margin-top: 15px;
        border: 6px solid white;
    }

    .white_panel {
        margin-bottom: 20px;
    }

    .pink-title-mini {
        font-family: Circe;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        margin: 0px !important;
        text-transform: uppercase;
    }

    .f_title_h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #222222;
        padding-bottom: 15px;
    }

    .p_title-24 {
        font-family: Circe;
        font-size: 24px;
        line-height: 35px;
        margin-top: 47px;
        color: #000000;
    }

    #progress1 {
        margin: 0px 26px;
        width: 125px;
        height: 125px;
        position: relative;
    }

    #progress2 {
        margin: 0px 26px;
        width: 125px;
        height: 125px;
        position: relative;
    }

    .p_title {
        font-family: Circe;
        font-size: 18px;
        padding: 10px;
        line-height: 27px;
        text-align: center;
        color: #000000;

    }

    .header_content {
        position: relative;
        height: 42px;
        top: 40px;
        max-width: 1316px;
        margin: 0 auto;
        padding: 0 60px
    }

    .header_logo {

        width: 150px;
    }

    .age-title {
        margin-top: 37px;
        font-family: Circe;
        font-size: 64px;
        line-height: 94px;
        font-weight: bold;
        text-align: center;
        background: -webkit-linear-gradient(108.39deg, #FF95E8 -0.03%, #FF7474 120.07%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    ul, li {
        margin-top: 7px !important;
        list-style: none;
        margin-left: 27px;
    }

    .navbar-nav > li > a {
        margin-right: -10px;
    }

    .menu_inner {
        display: flex;
        justify-content: space-between;
    }

    .menu li {
        display: inline-block;
    }

}

.menu > ul > li > a {
    text-decoration: none;
    font-family: Circe;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
    background-color: transparent !important;
}

.menu > ul > li > a :hover {
    text-decoration: none;
    font-family: Circe;
    font-size: 18px;
    line-height: 27px;
    color: #ff84ac;
    background-color: transparent !important;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .title-values-mobil {
        display: block;
    }

    .title-values {
        display: none;
    }

    .white_panel {
        margin-bottom: 20px;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.scrool-figure-1 {
    width: 24px;
    height: 53px;
    border: 3px solid rgba(244, 244, 244, 0.56);
    box-sizing: border-box;
    border-radius: 30.7771px;
    margin: 0px 27px;
    bottom: 20px;
    margin-top: 133px;
}

.scrool-figure-2 {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20.2849px;
    width: 16px;
    height: 23px;
    margin-top: 22px;
    margin-left: 1px;
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 3s infinite ease-in-out;
}

/*sd*/

.front, .back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(360deg);
}

/*@-webkit-keyframes pulsing {*/

/*    0% {*/
/*        margin-top: 2px;*/

/*    }*/
/*    50% {*/
/*        margin-top: 2px;*/

/*    }*/
/*    100% {*/
/*        margin-top: 0px;*/

/*    }*/
/*}*/

/*@keyframes pulsing {*/

/*    0% {*/
/*        margin-top: 0px;*/

/*    }*/
/*    50% {*/
/*        margin-top: 2px;*/

/*    }*/
/*    100% {*/
/*        margin-top: 0px;*/

/*    }*/
/*}*/

/**/
/*.2btn-pink {*/
/*   */
/*    -webkit-animation: pulsing 2s infinite;*/
/*    animation: pulsing 2s infinite;*/
/*}*/

/*@-webkit-keyframes pulsing {*/
/*    0% {*/
/*        border:3px solid white;*/

/*    }*/
/*    50% {*/
/*        border:6px solid white;*/

/*    }*/
/*    100% {*/
/*        border:8px solid white;*/

/*    }*/
/*}*/

/*@keyframes pulsing {*/
/*    0% {*/
/*        border:3px solid white;*/

/*    }*/
/*    50% {*/
/*        border:6px solid white;*/

/*    }*/
/*    100% {*/
/*        border:8px solid white;*/

/*    }*/
/*}*/

/*ANIMATION*/

/* Begin accent animation work */

.bubbles {
    position: relative;
}

.bubble {
    left: 0;
    top: 0;
}

.chrom-1 {
    position: absolute;
    top: 400px;
    animation: chrom-morph-1 19s infinite linear;
}

.chrom-gray {
    max-width: 100px !important;
    animation: chrom-morph-2 19s infinite linear;
}

.chrom-ctpg {
    max-width: 250px !important;
    animation: chrom-morph-3 19s infinite linear;
}

.brk-morph-1 {
    animation: morph-1 19s infinite linear;
}

.brk-morph-2 {
    width: 250px;
    height: 200px;
    border: 3px solid #2775ff;
    border-radius: 49% 51% 32% 68% / 50% 56% 44% 50%;
    animation: morph-2 8s infinite linear .5s;
    top: 200px;
}

.brk-morph-3 {
    width: 320px;
    height: 300px;
    border: 3px solid #0047d6;
    border-radius: 63% 37% 33% 67% / 47% 69% 31% 53%;
    animation: morph-3 19s infinite linear 1s;
    top: 300px;
}

.brk-morph-4 {
    background-image: url(../img/elements/bg_vector1.png);
    min-height: 905px;
    animation: morph-4 19s infinite linear .8s;
    top: 95px;
}

.brk-morph-5 {
    width: 500px;
    height: 500px;
    border: 3px solid #0047d6;
    border-radius: 20% 75% 80% 40% / 80% 30% 70% 70%;
    animation: morph-5 19s infinite linear .8s;
    top: 450px;
}

.brk-morph-6 {
    width: 300px;
    height: 200px;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-radius: 20% 75% 80% 40% / 80% 30% 70% 70%;
    animation: morph-1 19s infinite linear .8s;
    top: 250px;
}

@keyframes morph-1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-0%, 1%);
    }
    50% {
        transform: translate(0%, -1%);
    }
    75% {
        transform: translate(0%, 1%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes morph-2 {
    0% {
        /*border-radius: 49% 51% 32% 68% / 50% 56% 44% 50%;*/
        transform: translate(0, 0) rotate(0);
    }

    25% {
        /*border-radius: 35% 65% 38% 62% / 64% 51% 49% 36%;*/
        transform: translate(-7%, 8%) rotate(18deg);
    }
    50% {
        /*border-radius: 46% 54% 49% 51% / 60% 35% 65% 40%;*/
        transform: translate(6%, -9%) rotate(-10deg);
    }
    75% {
        /*border-radius: 63% 37% 33% 67% / 60% 69% 31% 40%;*/
        transform: translate(-7%, 1%) rotate(17deg);
    }
    100% {
        /*border-radius: 49% 51% 32% 68% / 50% 56% 44% 50%;*/
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes morph-3 {
    0% {
        border-radius: 63% 37% 33% 67% / 47% 69% 31% 53%;
        transform: translate(0, 0) rotate(0);
    }
    25% {
        border-radius: 69% 31% 46% 54% / 66% 58% 42% 34%;
        transform: translate(-7%, 8%) rotate(1deg);
    }
    50% {
        border-radius: 44% 56% 46% 54% / 34% 73% 27% 66%;
        transform: translate(6%, -9%) rotate(-37deg);
    }
    75% {
        border-radius: 35% 65% 28% 72% / 61% 56% 44% 39%;
        transform: translate(-7%, 1%) rotate(5deg);
    }
    100% {
        border-radius: 63% 37% 33% 67% / 47% 69% 31% 53%;
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes morph-4 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-0%, 2%) rotate(2deg);
    }
    50% {
        transform: translate(0%, -2%);
    }
    75% {
        transform: translate(0%, 1%) rotate(-2deg);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes morph-5 {
    0% {
        border-radius: 20% 75% 80% 40% / 80% 30% 70% 70%;
        transform: translate(0, 0) rotate(0);
    }
    25% {
        border-radius: 40% 60% 56% 44% / 38% 40% 60% 62%;
        transform: translate(-7%, 8%) rotate(1deg);
    }
    50% {
        border-radius: 63% 37% 41% 59% / 48% 57% 43% 52%;
        transform: translate(6%, -9%) rotate(-37deg);
    }
    75% {
        border-radius: 37% 63% 59% 41% / 68% 68% 32% 32%;
        transform: translate(-7%, 1%) rotate(5deg);
    }
    100% {
        border-radius: 20% 75% 80% 40% / 80% 30% 70% 70%;
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes chrom-morph-1 {
    0% {
        transform: translate(0, 0) rotate(0);
    }
    25% {
        transform: translate(-7%, 8%) rotate(1deg);
    }
    50% {
        transform: translate(6%, -9%) rotate(-37deg);
    }
    75% {
        transform: translate(-7%, 1%) rotate(5deg);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes chrom-morph-2 {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    25% {
        transform: translate(-7%, 8%) rotate(18deg);
    }
    50% {
        transform: translate(6%, -9%) rotate(-10deg);
    }
    75% {
        transform: translate(-7%, 1%) rotate(17deg);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes chrom-morph-3 {
    0% {
        transform: translate(0, 0) rotate(0);
    }
    25% {
        transform: translate(-7%, 8%) rotate(1deg);
    }
    50% {
        transform: translate(6%, -9%) rotate(-37deg);
    }
    75% {
        transform: translate(-7%, 1%) rotate(5deg);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}

/*End accent animation work */
/* progress-circle bar*/
.progress-circle {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress-circle:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-circle > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress-circle .progress-circle-left {
    left: 0;
}

.progress-circle .progress-circle-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 9px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress-circle .progress-circle-left .progress-circle-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress-circle .progress-circle-right {
    right: 0;
}

.progress-circle .progress-circle-right .progress-circle-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}

.progress-circle .progress-circle-value {
    width: 96%;
    height: 80%;
    border-radius: 59%;
    font-size: 36px;
    line-height: 136px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
}

.progress-circle.blue .progress-circle-bar {
    border-color: #FF84AC;
}

.progress-circle.blue .progress-circle-value {
}

.progress-circle.blue .progress-circle-left .progress-circle-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
}

.progress-circle.yellow .progress-circle-bar {
    border-color: #fdba04;
}

.progress-circle.yellow .progress-circle-value {
    color: #fdba04;
}

.progress-circle.yellow .progress-circle-left .progress-circle-bar {
    animation: loading-3 1s linear forwards 1.8s;
}

.progress-circle.pink .progress-circle-bar {
    border-color: #ed687c;
}

.progress-circle.pink .progress-circle-value {
    color: #ed687c;
}

.progress-circle.pink .progress-circle-left .progress-circle-bar {
    animation: loading-4 0.4s linear forwards 1.8s;
}

.progress-circle.green .progress-circle-bar {
    border-color: #1abc9c;
}

.progress-circle.green .progress-circle-value {
    color: #1abc9c;
}

.progress-circle.green .progress-circle-left .progress-circle-bar {
    animation: loading-5 1.2s linear forwards 1.8s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}

@media only screen and (max-width: 990px) {
    .progress-circle {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 460px ) {

    .modal {
        vertical-align: middle;
        max-width: 80% !important;
        box-sizing: border-box;
        width: 90%;
        background: transparent !important;
        padding: 0px 0px !important;
        -webkit-border-radius: 38px !important;;
        -moz-border-radius: 38px !important;;
        -o-border-radius: 38px !important;;
        -ms-border-radius: 38px !important;;
        border-radius: 38px !important;
        -webkit-box-shadow: 0 0 10px #000;
        -moz-box-shadow: 0 0 10px #000;
        -o-box-shadow: 0 0 10px #000;
        -ms-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
        text-align: left;
    }

    .voice_modal_bg2 {
        box-sizing: border-box;
        width: 100%;
        top: 0px;
        position: absolute;
        background: white;
        padding: 170px 0px !important;
        -webkit-border-radius: 38px !important;
        -moz-border-radius: 38px !important;
        -o-border-radius: 38px !important;
        -ms-border-radius: 38px !important;
        border-radius: 38px !important;
    }

    .voice_modal_bg1 {
        box-sizing: border-box;
        width: 100%;
        background: linear-gradient(90deg, rgb(255, 149, 232) 0%, rgb(255, 122, 139) 55%, rgb(255, 116, 116) 90%);
        padding: 260px 0px !important;
        -webkit-border-radius: 38px !important;
        -moz-border-radius: 38px !important;
        -o-border-radius: 38px !important;
        -ms-border-radius: 38px !important;
        border-radius: 38px !important;
    }
}

.voice_modal_bg2 {
    box-sizing: border-box;
    width: 100%;
    top: 0px;
    position: absolute;
    background: white;
    padding: 170px 0px !important;
}

.voice_modal_bg1 {
    box-sizing: border-box;
    width: 100%;
    background: rgba(255, 149, 232, 1);
    padding: 100% 0px !important;
}

.modal {
    vertical-align: middle;
    max-width: 80% !important;
    height: 90%;
    box-sizing: border-box;
    background: transparent !important;
    padding: 0px 0px !important;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    text-align: left;
}

.title-modal {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.upload_image {
    box-sizing: border-box;
    max-height: 100%;
    padding: 0px 0px !important;
    -webkit-border-radius: 38px !important;;
    -moz-border-radius: 38px !important;;
    -o-border-radius: 38px !important;;
    -ms-border-radius: 38px !important;;
    border-radius: 38px !important;
}

.btn-start {
    background: #FF84AC;
    border-radius: 53px;
    padding: 10px 60px;
    border-style: none;
    color: #FFFFFF;
    font-family: Circe;
    font-size: 18px;
    line-height: 27px;
}

.upload_title {
    padding: 5px 25px;
    background-color: #556080;
    opacity: 0.8;
    position: absolute;
    z-index: 999;
    top: 20px;
    border-radius: 15px;
    color: white;
    left: 43%;
    font-size: 14px !important;
    text-decoration: none !important;
}

.voice_title {
    padding: 5px 25px;
    position: absolute;
    z-index: 999;
    color: #556080;
    top: 30px;
    border-radius: 15px;
    left: 43%;
    font-family: Circe;
    font-size: 18px !important;
    line-height: 27px !important;
    text-decoration: none !important;
}

.answer_input {
    width: 337px !important;
    border-radius: 50px !important;
    box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.05);
    font-size: 20px !important;
}

.test_title {
    padding: 5px 25px;
    position: absolute;
    z-index: 999;
    color: #556080;
    top: 30px;
    border-radius: 15px;
    left: 47%;
    font-family: Circe;
    font-size: 18px !important;
    line-height: 27px !important;
    text-decoration: none !important;
}

.action-prev {
    margin-right: 84%;
    margin-top: 8%;
}

.modal_content {
    text-align: center;
    position: absolute;
    z-index: 999;
    color: #AFC3D6;
    top: -10px;
    height: 100%;
    width: 100%;
    /* border-radius: 15px; */
    /* left: 43%; */
    font-family: Circe;
    font-size: 18px !important;
    line-height: 27px !important;
    text-decoration: none !important;
}

.snap {
    position: absolute;
    z-index: 999;
    top: 85%;
    cursor: pointer;
    color: white;
    left: 47%;
    width: 47px;
    height: 47px;
    font-size: 14px !important;
    text-decoration: none !important;
}

.back-modal {
    padding: 10px;
    background-color: #AFC3D6;
    opacity: 0.8;
    position: absolute;
    z-index: 999;
    top: 20px;
    border-radius: 22px;
    color: white;
    left: 26px;
    width: 43px;
    height: 43px;
    font-size: 22px !important;
    text-decoration: none !important;
}

.quit-modal {
    padding: 10px;
    position: absolute;
    z-index: 999;
    color: #AFC3D6;;
    top: 30px;
    left: 30px;
    border-radius: 15px;
    font-family: Circe;
    font-size: 16px !important;
    line-height: 27px !important;
    text-decoration: none !important;
}

.modal a.close-modal {
    display: none !important;
}

.blur-me {
    filter: blur(3.5px);
    opacity: 0.5;
}

.quit-modal_ {
    padding: 10px;
    z-index: 999;
    color: #fcffff;
    top: 30px;
    left: 30px;
    border-radius: 15px;
    font-family: Circe;
    font-size: 16px !important;
    line-height: 27px !important;
    text-decoration: none !important;
}

.notify-me {
    background-color: #fff;
    border-radius: 44px;
    width: 67%;
    height: 64px;
    left: 50%;
    right: 50%;
    display: inline-flex;
}

.voice_modal_bg1_future {
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(90deg, rgba(171, 29, 255, 1) 0%, rgba(255, 149, 232, 1) 55%, rgba(255, 132, 172, 1) 90%);
    padding: 0% 0px 25% 0px !important;
}

.notify-me input.btn-pink-mini {
    color: rgba(0, 0, 0, 0.6);
    width: 185%;
    background-color: #fff;
}

.notify-me .btn-pink-mini {
    display: inline;
    padding: 12px;
    margin-top: 0px;
    margin-left: 0.5%;
}

.text-working {
    font-weight: 300;
    font-size: 22px;
    color: #4f4f4f;
}

.notify-me .btn-pink-mini {
    display: inline;
    padding: 12px;
    margin-top: 0px;
    margin-left: 0.5%;
}

.notify-me .btn-pink-mini span {
    text-transform: none;
}

.notify-me-wrapper {
    margin-top: 170px;
}

p {
    text-align: justify;
}

h4 {
    text-align: center;
}

.f-size-14 {
    font-size: 14px;
}