.select-select {
  display: none;
  /* For when we are on a small touch device and want to use native controls */
  pointer-events: none;
  position: absolute;
  opacity: 0; }

.select-element, .select-element:after, .select-element:before, .select-element *, .select-element *:after, .select-element *:before {
  box-sizing: border-box; }

.select-element {
  position: absolute;
  display: none; }
  .select-element.select-open {
    display: block; }

.select-theme-chosen {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px; }
  .select-theme-chosen, .select-theme-chosen *, .select-theme-chosen *:after, .select-theme-chosen *:before {
    box-sizing: border-box; }

.select.select-theme-chosen {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .select.select-theme-chosen .select-content {
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #444;
    overflow: auto;
    max-width: 248px;
    max-height: 248px;
    -webkit-overflow-scrolling: touch; }
    @media (max-width: 372px), (max-height: 372px) {
      .select.select-theme-chosen .select-content {
        max-width: 155px;
        max-height: 155px; } }
  .select.select-theme-chosen .select-options {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    margin: 0;
    padding: 0; }
    .select.select-theme-chosen .select-options .select-option {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      position: relative;
      list-style: none;
      margin: 0;
        max-width: 100%;
        min-width: 100%;
      padding: 6px 27px 6px 30px;
      display: block;
        font-family: Circe;
        font-size: 18px;
        line-height: 27px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .select.select-theme-chosen .select-options .select-option.select-option-selected:before {
        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='-0.5 0 20 15'><rect fill='#444' stroke='none' transform='rotate(45 4.0033 8.87436)' height='5' width='6.32304' y='6.37436' x='0.84178'></rect><rect fill='#444' stroke='none' transform='rotate(45 11.1776 7.7066)' width='5' height='16.79756' y='-0.69218' x='8.67764'></rect></svg>");
        position: absolute;
        left: 13px;
        top: 0;
        top: 5px;
        height: 11px;
        width: 11px;
        margin: auto; }
      .select.select-theme-chosen .select-options .select-option:hover, .select.select-theme-chosen .select-options .select-option.select-option-highlight {
        background-color: #FF84AC;
        color: #fff; }
        .select.select-theme-chosen .select-options .select-option:hover.select-option-selected:before, .select.select-theme-chosen .select-options .select-option.select-option-highlight.select-option-selected:before {
          content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='-0.5 0 20 15'><rect fill='#fff' stroke='none' transform='rotate(45 4.0033 8.87436)' height='5' width='6.32304' y='6.37436' x='0.84178'></rect><rect fill='#fff' stroke='none' transform='rotate(45 11.1776 7.7066)' width='5' height='16.79756' y='-0.69218' x='8.67764'></rect></svg>"); }
      .select.select-theme-chosen .select-options .select-option:first-child {
        border-radius: 5px 5px 0 0; }
      .select.select-theme-chosen .select-options .select-option:last-child {
        border-radius: 0 0 5px 5px; }

.select-target.select-theme-chosen {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
    border-radius: 8px;
    border: 1px solid #AFC3D6;
  position: relative;
    font-family: Circe;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 56px 7px 17px;
  cursor: pointer;
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
    width: 224px;
    height: 44px;
  }
  .select-target.select-theme-chosen.select-target-focused, .select-target.select-theme-chosen.select-target-focused:focus {
    border-color: #5897FB;
    outline: none; }
  .select-target.select-theme-chosen b {
    position: absolute;
    right: 13px;
    top: 0;
    bottom: 1px;
    margin: auto;
    height: 16px;
    width: 26px; }
.select-target.select-theme-chosen b:before, .select-target.select-theme-chosen b:after {
    content: "";
    content: '\f107';
    font: normal normal normal 24px/2 FontAwesome;
    display: block;
    position: absolute;
    margin: auto;
    right: 0;
    color: #AFC3D6;
    height: 0;
    margin-top: -16px;
    /* width: 0; */
    /* border-left: 1px solid #0ebeff; */
    /* border: 3px solid transparent; */
}

