html,
body {
    height: 100%;
    background-image: linear-gradient(to right, #a0dc9c , #cfdcc5);
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 260px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    background-image: linear-gradient(to right, #31772c , #addc8a);
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 17px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-inverse {
    background-color: white !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
}

.navbar-inverse .navbar-brand:hover {
    color: black;
}

.tracker {
    color: #5bb85c;
}

.login-section{
    text-align: center;
}

.auth-clients {
    padding: 0px;
    display: inline-table;
}

.blinker {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.navbar-inverse .btn-link:hover {
    color: #5bb85c;
}

.jumbotron .not-so-lead{
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.jumbotron .btn {
    margin-top: -25px;
    margin-left: 20px;
}

.jumbotron p.green-p{
    color: #5cb75c;
}

.site-login .btn-primary {
    color: #fff;
    background-color: #5ab733;
    border-color: #4d9c2c;
}

.jumbotron{
    background-color: white;
}

.row-center{
    text-align: center;
}

.col-lg-4 p{
    font-size: initial;
    font-weight: 400;
}


.jumbotron .form-group label{
    position: absolute;
    text-align: left;
}


.jumbotron .form-group .help-block{
    display: none !important;
}

.jumbotron .form-group{
    margin-left: 20px;
}

.jumbotron .form-group label
{
    font-size: 12px;
}

.jumbotron .form-group,
.jumbotron .form-group label,
.jumbotron .form-group input,
.jumbotron .form-group select,
.jumbotron .form-group .help-block
{
    width: 190px;
    margin-bottom: 15px;
    display: inline;
}

.jumbotron .form-group div{
    display: inline;
}

.jumbotron .form-group .form-control-div{
    padding: 40px;
    margin-right: 100px;
    display: inline-block;
}

.jumbotron .form-group input,
.jumbotron .form-group select{
    margin-top: 30px;
}

.jumbotron .btn-back{
    padding: 2px 19px;
    background-color: #a2dc9e;
    font-size: 13px;
    border-color: #8aba86;
    margin-top: 0px;
    margin-left: 0px;
    left: 300px;
    position: absolute;
}

.row-options
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 50px; /*Optional*/
}
.column-option
{
    cursor: pointer;
    display: table-cell;
    background: #2E8C6A;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 16px;
    padding-bottom: 32px;
}
.column-option:hover
{
    background: #3db942;
}
.option-icon{
    width: 64px;
    height: 64px;
    margin-top: 30px;
}
.arrow {
    margin-top: 25px;
}
.the-digits{
    position: absolute;
    font-weight: 500;
    font-size: 20px;
    margin-top: 15px;
}
#btn-stop-recording,#btn-release-microphone{
    display: none;
}
