ul.SteppedProgress {
    counter-reset: step;
    display: flex;
    margin: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 20px;
}

.SteppedProgress li {
    list-style-type: none;
    flex: 1;
    position: relative;
    padding: 0 2%
}

.SteppedProgress li.boxed span, .SteppedProgress li.current span {
    background: #F1F1F1;
    border: 1px solid silver;
    color: #F1F1F1;
    display: inline-block;
    padding: 3px 6px;
    position: relative;
    margin: 0px -6px;
    width: 100%
}

.SteppedProgress li.boxed span:after, .SteppedProgress li.current span:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #FF84AC;
    border-bottom-color: #FF84AC;
    border-width: 10px;
    margin-left: -10px
}

.SteppedProgress li.current span {
    background: #4170b0;
    color: #FFF
}

.SteppedProgress li.current span:after {
    border-bottom-color: #FF84AC
}

.SteppedProgress li.current.canHover span:hover {
    background: #b9cce5;
    border-color: #4170b0;
    color: #4170b0
}

.SteppedProgress li.current.canHover span:hover:after {
    border-bottom-color: #b9cce5
}

.SteppedProgress li.complete.boxed span {
    background: #FF84AC;
    color: #FFF
}

.SteppedProgress li.complete.boxed span:after {
    border-bottom-color: #FF84AC
}

.SteppedProgress li.complete.boxed.canHover span:hover {
    background: #FF84AC;
    border-color: #FF84AC;
    color: #FF84AC;
    cursor: pointer
}

.SteppedProgress li.complete.boxed.canHover span:hover:after {
    border-bottom-color: #FF84AC;
    cursor: pointer
}

.SteppedProgress li:before {
    content: "";
    top: 0;
    line-height: 30px;
    display: block;
    font-size: 22px;
    height: 18px;
    width: 18px;
    left: -2px;
    border: 17px solid #F1F1F1;
    background: #F1F1F1;
    border-radius: 50px;
    position: absolute;
    z-index: 1
}
.SteppedProgress li.active:before {
    content: "";
    top: 0;
    line-height: 30px;
    display: block;
    font-size: 22px;
    height: 18px;
    width: 18px;
    left: -2px;
    border: 17px solid #FF84AC;
    background: #FF84AC;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
}

.SteppedProgress li:after {
    content: '';
    width: 100%;
    height: 6px;
    background: #F1F1F1;
    position: absolute;
    left: -50%;
    top: 15px;
    z-index: -1
}

.SteppedProgress li:first-child:after {
    content: none
}

.SteppedProgress li.complete:before {
    background: #FF84AC;
    color: #FF84AC
}

.SteppedProgress li.complete:after {
    background: #FF84AC
}

ul.SteppedProgress.Vertical {
    display: block
}

.SteppedProgress.Vertical li {
    flex: none;
    clear: both;
    text-align: left;
    padding-top: 43px;
    min-height: 2.2em
    padding: 23px!important;

}

.SteppedProgress.Vertical li span {
    white-space: nowrap
}

ul.SteppedProgress.Vertical li:before {
    float: none;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    margin-left: 0
}

.SteppedProgress.Vertical li:after {
    content: '';
    width: 6px;
    height:2680px;
    position: absolute;
    left: 12px;
    top: 0%;
    z-index: -1;
}
.SteppedProgress.Vertical li:last-child:after {
    content: none;

}
.SteppedProgress.Vertical li:last-child:before {
    margin-top: 20px;

}

ul.SteppedProgress.Vertical li.boxed, ul.SteppedProgress.Vertical li.current {
    min-width: 90%
}

ul.SteppedProgress.Vertical li.boxed span, ul.SteppedProgress.Vertical li.current span {
    display: inline;
    margin-left: 0
}

ul.SteppedProgress.Vertical li.boxed span:after, ul.SteppedProgress.Vertical li.current span:after {
    bottom: auto;
    left: auto;
    right: 100%;
    top: 7px;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #F1F1F1;
    margin: 0
}

ul.SteppedProgress.Vertical li.current span:after {
    border-right-color: #FF84AC
}

ul.SteppedProgress.Vertical li.complete.boxed span:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #FF84AC
}

@media (min-width: 380px ) and ( max-width: 480px) {
    .SteppedProgress li.active:before {
        left: 44.3%!important;
    }
    ul.SteppedProgress.Vertical li:before{
        display: none;
    }
}

@media (min-width: 200px ) and ( max-width: 380px) {
    .SteppedProgress.Vertical li:after {
        content: '';
        width: 6px;
        height: 500px;
        position: absolute;
        left: 47.8%;
        top: 15%!important;
        z-index: -1;
    }
}

@media (min-width: 460px) and  (max-width: 460px){
    .SteppedProgress.Vertical li:after {
        content: '';
        width: 6px;
        height: 850px;
        position: absolute;
        left: 47.8%;
        top: 13%;
        z-index: -1;
    }
}
@media (max-width: 460px) {
    ul.SteppedProgress {
        display: block
    }
    ul.SteppedProgress.Vertical li:before{
        display: none;
    }
    .SteppedProgress.Vertical li:after {
        content: '';
        width: 6px;
        height: 950px;
        position: absolute;
        left: 47.8%;
        top: 13%;
        z-index: -1;
    }

    .SteppedProgress li.active:before {
        content: "";
        top: 0;
        line-height: 30px;
        display: block;
        font-size: 22px;
        height: 18px;
        width: 18px;
        left: 43.3%;
        border: 17px solid #FF84AC;
        background: #FF84AC;
        border-radius: 50px;
        position: absolute;
        z-index: 1;
    }

    .SteppedProgress li:before {
        content: "";
        top: 0;
        line-height: 30px;
        display: block;
        font-size: 22px;
        height: 18px;
        width: 18px;
        left: 43.8%;
        border: 17px solid #F1F1F1;
        background: #F1F1F1;
        border-radius: 50px;
        position: absolute;
        z-index: 1
    }
    .SteppedProgress li {
        flex: none;
        clear: both;
        text-align: left;
        padding: 0;
        margin-left: 0;
        min-height: 2.2em
    }

    .SteppedProgress li span {
        white-space: nowrap
    }

    ul.SteppedProgress li:before {
        float: none;
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        margin-left: 0
    }

    .SteppedProgress li:after {
        content: '';
        width: 6px;
        height: 100%;
        position: absolute;
        left: 12px;
        top: -50%;
        z-index: -1
    }

    ul.SteppedProgress li.boxed, ul.SteppedProgress li.current {
        min-width: 90%
    }

    ul.SteppedProgress li.boxed span, ul.SteppedProgress li.current span {
        display: inline;
        margin-left: 0
    }

    ul.SteppedProgress li.boxed span:after, ul.SteppedProgress li.current span:after {
        bottom: auto;
        left: auto;
        right: 100%;
        top: 7px;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #F1F1F1;
        margin: 0
    }

    ul.SteppedProgress li.current span:after {
        border-right-color: #FF84AC
    }

    ul.SteppedProgress li.complete.boxed span:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #FF84AC
    }
}
