/*custom font*/
/*@import url(http://fonts.googleapis.com/css?family=Montserrat);*/



/*form styles*/
#msform {
    /* width: 400px; */
    /* margin: 50px auto; */
    text-align: center;
    height: 100%;
    /* position: relative; */
}
#msform fieldset {
    /* background: white; */
    border: 0 none;
    /* border-radius: 3px; */
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
    /* padding: 20px 30px; */
    box-sizing: border-box;
    /* width: 80%; */
    /* margin: 0 10%; */
    /* position: absolute; */
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #F1F1F1;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #556080;
    font-size: 13px;
}
.question-content{
    padding: 50px 20px;
    height: 46%;
}
/*buttons*/
#msform .action-button {
    width: 50px;
    height: 50px;
    background: #FF84AC;
    border-radius: 50%;
    /* font-weight: bold; */
    color: white;
    font-size: 26px;
    border: 0 none;
    /* border-radius: 1px; */
    cursor: pointer;
    padding: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #FF84AC;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
fieldset{
    height: 100%;
}
/*progressbar*/
#progressbar {
    width: 410px;
    display: flex;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    margin-left: 0px!important;
}
#progressbar li:before {
    content: '';
    counter-increment: step;
    width: 14px;
    line-height: 14px;
    display: block;
    font-size: 10px;
    padding: 7px;
    color: #333;
    background: #F1F1F1;
    border-radius: 25px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #F1F1F1;
    position: absolute;
    left: -52%;
    top: 6px;
    z-index: -1;
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.radio input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #FF84AC;
    color: white;
}

.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #FF84AC;
    box-shadow: inset 0 0 0 4px #ffffff;
}
.radio input[type="radio"] + .radio-label:before {
    content: "";
    background: #ffffff;
    border-radius: 100%;
    border: 3px solid #FF84AC;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.radio input[type="checkbox"]:checked + .radio-label:before {
    background-color: #FF84AC;
    box-shadow: inset 0 0 0 4px #ffffff;
}
.radio input[type="checkbox"] + .radio-label:before {
    content: "";
    background: #ffffff;
    border-radius: 2%;
    border: 3px solid #FF84AC;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    font-family: Circe!important;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
    color: #556080!important;
}


